In [29]:
# SERIES

# creating empty series
#print("----#empty series#-------")
import pandas as np
s=np.Series()
print(s)
print(type(s))

print()


#creating series by using list

print("series using list")
import pandas as pd

a=[11,12,13,14,15]
s=pd.Series(a)
print(s)

print()

#creating series by usinglist,assign naming
print("naming")
import pandas as pd
a=[11,12,13,14,15]
s=pd.Series(s,name="id")
print(s)


print()

#creating series object using list,assign naming
print("naming use by object")
import pandas as pd
a=["sai","ram","prasad","ramu"]
s=pd.Series(a,name="employee")
print(s)

print()

#creating series object by using range and list.
print("range")
import pandas as pd
a=range(1,10)
s=pd.Series(a)
print(s)

print()


#creating series by using ARRAYS

print("using arrays")

import pandas as pd
import numpy as np
a=[10,20,30,40,50]
s=np.array(a)

print(s)
print(type(s))

print()

#creating ndarray and passing argumnet to the series.


import pandas as pd
import numpy as np
a=[10,20,30,40,50]
s=np.array(a)
m=pd.Series(s)
print(m)


print()

#creating series using ndarray
import pandas as pd
import numpy as np

a=['a','b','c','d','e']
s=np.array(a)

m=pd.Series(s)
print(m)


print()

#creating series object and giving name and index
print("giving name and index")

import pandas as pd

v=[20,23,34,35,45,47]
i=[10,20,30,40,50,60]
s=pd.Series(v,name='counts',index=i)
print(s)

#accessing value in series
print("accessing value in series")
import pandas as pd

v=[20,23,34,35,45,]
s=pd.Series(v,name="marks")

print(s)
print()
print(s[2])
print(s[4])


print()

Series([], dtype: object)
<class 'pandas.core.series.Series'>

series using list
0    11
1    12
2    13
3    14
4    15
dtype: int64

naming
0    11
1    12
2    13
3    14
4    15
Name: id, dtype: int64

naming use by object
0       sai
1       ram
2    prasad
3      ramu
Name: employee, dtype: object

range
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

using arrays
[10 20 30 40 50]
<class 'numpy.ndarray'>

0    10
1    20
2    30
3    40
4    50
dtype: int64

0    a
1    b
2    c
3    d
4    e
dtype: object

giving name and index
10    20
20    23
30    34
40    35
50    45
60    47
Name: counts, dtype: int64
accessing value in series
0    20
1    23
2    34
3    35
4    45
Name: marks, dtype: int64

34
45